@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
* 
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*   SCROLL BAR  */
/* width */
::-webkit-scrollbar 
{
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track 
{
    /*box-shadow: inset 0 0 2px grey;*/
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    transition: .2s ease-in-out;
}
/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover 
{
    background: #000; 
}

/* MAIN */
body 
{
    background:#467a57;
    padding-top:30px;
    font-family: Roboto;
}

.app 
{
    margin:0 auto;
    width:1000px;
    height:1000px;
    background:white;
    -webkit-box-shadow: 0px 27px 100px -2px rgba(15,15,15,1);
    -moz-box-shadow: 0px 27px 100px -2px rgba(15,15,15,1);
    box-shadow: 0px 27px 100px -2px rgba(15,15,15,1);
}

.header 
{
    height:350px;
    background:url("img/mountains.jpg");
    background-size:cover;
    background-position-y:-200px;
    color:#000;
    font-weight:100;
    font-family:Roboto;
    text-align: center;
    padding:10px;
    padding-top:70px;
}

.total-budget
{
    height:80px;
    margin-bottom:20px;
}
#budget
{
    font-weight:bold;
    font-size:80px;
   
}

.header  h1
{
   font-family: Roboto;
   font-weight:100;
   font-size:50px;
   margin-bottom:20px;
}

.total-display
{
    
    width:70%;
    margin:0 auto;
    height: 50px;

}

.total-budget
{
    margin-bottom:30px;
}

.income-holder
{
    background:#18304b;
    width:46%;
    float:left;
    height: 50px;
    padding-top:15px;
    text-align: left;
    padding-left:10px;
    border-radius: 5px;
    margin-right:20px;
}
.expense-holder
{
    background:#681111;
    width:46%;
    float:right;
    height: 50px;
    padding-top:15px;
    text-align: left;
    padding-left:10px;
    border-radius: 5px;
    margin-left:20px;
}

#income-label, span
{
    color:#fff;
    font-weight: bold;
    
}   

#expense-label, span
{
    color:#fff;
    font-weight: bold;
}

#income-label 
{
    background:#18304b;
    width:100%;
    margin-right:130px;
   
}
#expense-label 
{
    background:#681111;
    margin-right:130px;
}


/* USER INTERFACE */

#total-income
{
    background-color:#18304b;
  
}

#total-expense
{
    background-color:#681111;
    color:white;
}
#uio {
    float:left;
    width:50%;
}

#uit {
    float:right;
    width:50%;
}

.user-input 
{
    background:rgb(236, 236, 236);
    border-bottom: solid 1px rgba(163, 163, 163, 0.5);
    padding:10px;
    position: relative;
    text-align:center;
  
}

.user-input h3
{
    font-weight:100;
    font-family:Roboto;
}

.user-input input
{
    border:none;
    border-radius:2px;
    padding: 10px;
    margin: 0 2 0 2;
    
}

.user-input i
{
    font-size: 25px;
    color:#254a75;
}

.user-input i:active
{
    font-size: 25px;
    color:#000;
}

#exp-check
{
   
    font-size: 25px;
    color:#a70000;
}

#exp-check:active
{
    font-size: 25px;
    color:#000;
}

#description
{
    outline-color: #254a75;
}

#value-income
{
    outline-color: #254a75;
}

#description-exp
{
    outline-color: #a70000;
}
#value-expense
{
    outline-color: #a70000;
}
#description, #description-exp
{
    width:250px;
}

#description::placeholder, #description-exp::placeholder
{
    color:rgb(206, 206, 206); 
}

#value-income, #value-expense
{
    width:100px;
}

#value-income::placeholder,#value-expense::placeholder
{
    color:rgb(206, 206, 206);
}


ul 
{
    height:160px;
    list-style: none;
    overflow: scroll;
    overflow-x: hidden;
    text-align: left;
    padding-left:40px;
    
}


.results-left, .results-right
{
    height:245px;
    width:50%;
    float:left;
    text-align: center;
    color:#254a75;
    padding:20px;
  
}

.results-left ul li, .results-right ul li
{
    background:white;
    list-style: none;
    padding:10px;
    text-transform: uppercase;
}
.results-right ul li 
{
    color:rgb(134, 10, 10);
}

.results-left ul li:nth-child(2n), .results-right ul li:nth-child(2n) 
{
    background-color: #f8f8f8;
    width: 100%;
    list-style: none;
}

.results-right, 
{
    height:245px;
    width:50%;
    float:left;
    text-align: center;
    color:rgb(134, 10, 10);
    padding:20px;
    /*background:rgb(182, 182, 182);*/
}

.results-left > h3
{
    margin:0 auto;
    border-bottom: solid 1px rgb(134, 134, 134); 
    width:60%;
    padding:5px;
    font-weight:100;
    margin-bottom: 10px;
}

.results-right > h3
{
    margin:0 auto;
    border-bottom: solid 1px rgb(165, 165, 165); 
    width:60%;
    padding:5px;
    font-weight:100;
    margin-bottom: 10px;
}


.output-left 
{
    /*background:rgb(149, 149, 149);*/
    height:245px;
    width:50%;
    float:left;
    padding:10px;
}
.output-right
{
    /*background:rgb(197, 197, 197);*/
    height:245px;
    width:50%;
    float:right;
    text-align: center;
    padding:10px;
}